<h1>About</h1>
<p>Hi, I'm Jake. This is my portfolio. I'm switching to 3rd-person now
    because I want it to sound like you're reading the "About the Author" section
    on the back dust jacket of an old worn novel that you rescued from the bottom
    of the bargain bin at the used bookstore downtown. You've never heard of the author before.
</p>
<p>
    <em>
        OAK ST. ELECTRONICS is Jacob Earl Jones, a fledgling hobbyist and amateur professional.
        This website serves as his portfolio and something tangible that he can put on the front of
        his business card. Jake received his Bachelor's in Electrical Engineering and is currently
        working towards a Master's in Computer Engineering with a focus on the Internet of Things.
        Jake's professional interests include microcontrollers, embedded systems, circuit board design,
        and internet-based technologies. Jake currently works for the federal government in (sometimes) sunny
        Fort Walton Beach, Florida.
    </em>
</p>