<div class="body-container mat-typography">
  
  <header class="header">
    <img src="assets/logo_big.png" class="logo">
    <nav class="links">
      <button mat-button routerLink="/projects" routerLinkActive="active-link">PROJECTS</button>
      <button mat-button routerLink="/about" routerLinkActive="active-link">ABOUT</button>
      <button mat-button routerLink="/contact" routerLinkActive="active-link">CONTACT</button>
    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    &copy; 2019 oakst.io / jake
  </footer>

</div>

